---
---

@import "{{ site.theme }}";

/* Background image for header */
.page-header {
  background-image:
    linear-gradient(
      rgba(0,0,0,0.45),
      rgba(0,0,0,0.45)
    ),
    url("../background.jpg");

  background-size: cover;
  background-position: center;

  margin-top: 50px;
  padding: 120px 20px;   /* adds breathing room for title */
  text-align: center;
}

.page-header h1 {
  font-size: 52px;
  font-weight: 700;
  color: white;
  text-shadow: 0 4px 10px rgba(0,0,0,0.6);
  letter-spacing: 1px;
}

/* Navigation bar */
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #293A60; /* blue */
  padding: 14px 20px;
  text-align: center;
  z-index: 9999;
}

/* navigation links */
.topnav a {
  color: white;
  margin: 0 18px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

/* hover effect */
.topnav a:hover {
  color: #577dcefe;
}

/* Main report title (below the header image) */
h1 {
  color: #293A60;      /* match navbar blue */
  text-align: center;
  font-weight: 700;
}


h2 {
  color: #293A60;
  font-weight: 600;
}

/* Body text styling */
p {
  color: #444444;
  line-height: 1.7;
}


.main-content h2 {
  color: #293A60;
  font-weight: 600;
}

.main-content h3 {
  color: #293a60e7;   /* same dark blue as navbar */
  font-weight: 600;
}

.main-content h4 {
  color: rgba(66, 93, 152, 0.866);   /* same dark blue as navbar */
  font-weight: 600;
}


.resource-links {
  text-align: center;
  margin: 30px 0 50px 0;
  font-size: 20px;
  font-weight: 600;
}

.resource-links a {
  margin: 0 20px;
  color: #293A60;
  text-decoration: underline;
}

.resource-links a:hover {
  color: #577dcefe;
}